.navBarLayout {
    background-color: black;
    border-bottom: 10px;
    border-color: gray;
    padding-right: 4px;
    padding-top: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}